/* css styles */
.quarto-about-trestles h1.title {
    font-size: 1.5rem !important;
} 

main.content {
  max-width: 1200px !important;
  margin-left: 2rem !important;
  margin-right: auto !important;
}

#quarto-content {
  justify-content: flex-start !important;
}

.column-page {
  max-width: 1200px !important;
  margin-left: 0 !important;
}
